.leadboard-result {
    height: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.result-name {
    font-size: x-large;
}

.result-score {
    font-size: x-large;
}